// SPDX-License-Identifier: (GPL-2.0+ or MIT)
// Copyright (C) 2022 Samuel Holland <samuel@sholland.org>

/dts-v1/;

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/leds/common.h>
#include "sun8i-t113.dtsi"

/ {
	model = "InConsole 2.0";
	compatible = "allwinner,sun20i-d1", "allwinner,sun8i";

	aliases {
        serial0 = &uart3;
        serial1 = &uart1;
        mmc0 = &mmc0;
	};

	chosen {
		stdout-path = "serial0:115200n8";
		// bootargs = "mem=128M cma=72M root=/dev/mmcblk0p2 init=/sbin/init rootwait earlyprintk=sunxi-uart,0x02501400 console=tty0 console=ttyS5,115200";
		// bootargs = "mem=128M cma=64M root=/dev/mmcblk0p2 init=/sbin/init rootwait console=ttyS5,115200 earlyprintk=sunxi-uart,0x02501400";
	};

	reg_vcc: vcc {
		compatible = "regulator-fixed";
		regulator-name = "vcc";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
	};

	reg_usbvbus: usbvbus {
		compatible = "regulator-fixed";
		regulator-name = "usbvbus";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		vin-supply = <&reg_vcc>;
	};

	reg_vcc_3v3: vcc-3v3 {
		compatible = "regulator-fixed";
		regulator-name = "vcc-3v3";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		vin-supply = <&reg_vcc>;
	};

	reg_vdd_cpu: vdd-cpu {
		compatible = "regulator-fixed";
		regulator-name = "vdd-cpu";
		regulator-min-microvolt = <900000>;
		regulator-max-microvolt = <900000>;
		vin-supply = <&reg_vcc>;
	};

	reg_vdd_ram: vdd-ram {
		compatible = "regulator-fixed";
		regulator-name = "vdd-ram";
		regulator-min-microvolt = <1500000>;
		regulator-max-microvolt = <1500000>;
		vin-supply = <&reg_vcc>;
	};

	leds {
        compatible = "pwm-leds";

        boot_led: led-boot {
            label = "led_boot";
            pwms = <&pwm 5 1000000 500000>;
            linux,default-trigger = "heartbeat";
            default-state = "on";
            color = "green";
        };
    };

	panel {
		compatible = "simple-panel";
		port {
			panel_input: endpoint {
				remote-endpoint = <&tcon_lcd0_out_panel>;
			};
		};
	};

    adc_joystick: adc-joystick {
        compatible = "adc-joystick";
        io-channels = <&joystick@48 0>, <&joystick@48 1>;
        poll-interval = <20>;
        
        axis-x {
            linux,code = <0x00>;
            abs-range = <0 32767>;
            abs-fuzz = <32>;
            abs-flat = <32>;
        };
        
        axis-y {
            linux,code = <0x01>;
            abs-range = <0 32767>;
            abs-fuzz = <32>;
            abs-flat = <32>;
        };
    };

    gpio_keys: gpio-keys {
        compatible = "gpio-keys";
        autorepeat;

        button-up {
            label = "DPAD-UP";
            linux,code = <103>; /* KEY_UP */
            gpios = <&pio 4 7 GPIO_ACTIVE_LOW>; /* PE7 */
        };

        button-down {
            label = "DPAD-DOWN";
            linux,code = <108>; /* KEY_DOWN */
            gpios = <&pio 4 9 GPIO_ACTIVE_LOW>; /* PE9 */
        };

        button-left {
            label = "DPAD-LEFT";
            linux,code = <105>; /* KEY_LEFT */
            gpios = <&pio 4 8 GPIO_ACTIVE_LOW>; /* PE8 */
        };

        button-right {
            label = "DPAD-RIGHT";
            linux,code = <106>; /* KEY_RIGHT */
            gpios = <&pio 4 10 GPIO_ACTIVE_LOW>; /* PE10 */
        };

        button-a {
            label = "BTN-A";
            linux,code = <304>; /* BTN_A */
            gpios = <&pio 6 14 GPIO_ACTIVE_LOW>; /* PG14 */
        };

        button-b {
            label = "BTN-B";
            linux,code = <305>; /* BTN_B */
            gpios = <&pio 6 13 GPIO_ACTIVE_LOW>; /* PG13 */
        };

        button-x {
            label = "BTN-X";
            linux,code = <307>; /* BTN_X */
            gpios = <&pio 6 12 GPIO_ACTIVE_LOW>; /* PG12 */
        };

        button-y {
            label = "BTN-Y";
            linux,code = <308>; /* BTN_Y */
            gpios = <&pio 6 4 GPIO_ACTIVE_LOW>; /* PG4 */
        };

        button-l {
            label = "BTN-L";
            linux,code = <310>; /* BTN_TL */
            gpios = <&pio 4 6 GPIO_ACTIVE_LOW>; /* PE6 */
        };

        button-r {
            label = "BTN-R";
            linux,code = <311>; /* BTN_TR */
            gpios = <&pio 6 5 GPIO_ACTIVE_LOW>; /* PG5 */
        };

        button-select {
            label = "BTN-SELECT";
            linux,code = <314>; /* BTN_SELECT */
            gpios = <&pio 4 11 GPIO_ACTIVE_LOW>; /* PE11 */
        };

        button-start {
            label = "BTN-START";
            linux,code = <315>; /* BTN_START */
            gpios = <&pio 6 15 GPIO_ACTIVE_LOW>; /* PG15 */
        };

        button-joy {
            label = "BTN-JOYSTICK-CLICK";
            linux,code = <317>; /* BTN_THUMBL */
            gpios = <&pio 4 12 GPIO_ACTIVE_LOW>; /* PE12 */
        };
    };
};

&reg_aldo {
	regulator-min-microvolt = <1800000>;
	regulator-max-microvolt = <1800000>;
	vdd33-supply = <&reg_vcc_3v3>;
};

&reg_bldo { /* only test */
    compatible = "regulator-fixed";
    regulator-name = "bldo";
    regulator-min-microvolt = <1500000>;
    regulator-max-microvolt = <1500000>;
    vin-supply = <&reg_vcc_3v3>;
};

&cpu0 {
	cpu-supply = <&reg_vdd_cpu>;
};

&cpu1 {
	cpu-supply = <&reg_vdd_cpu>;
};

&wdt {
	status = "okay";
};

&de {
	status = "okay";
};

&tcon_lcd0 {
	pinctrl-names = "default";
	pinctrl-0 = <&lcd_rgb666_pins>;
	status = "okay";
};

&tcon_lcd0_out {
	tcon_lcd0_out_panel: endpoint@0 {
		reg = <0>;
		remote-endpoint = <&panel_input>;
	};
};

&pio {

	vcc-pb-supply = <&reg_vcc_3v3>;
	vcc-pc-supply = <&reg_vcc_3v3>;
	vcc-pd-supply = <&reg_vcc_3v3>;
	vcc-pe-supply = <&reg_vcc_3v3>;
	vcc-pf-supply = <&reg_vcc_3v3>;
	vcc-pg-supply = <&reg_vcc_3v3>;

    boot_led_select {
        gpio-hog;
        gpios = <6 11 GPIO_ACTIVE_HIGH>; /* PG11 */
        output-high;
        line-name = "led-select";
    };

    pwm7_pd22_custom: pwm7-pd22 {
        pins = "PD22";
        function = "pwm7";
    };

    i2c1_pg_custom: i2c1-pins {
        pins = "PG8", "PG9";
        function = "i2c1";
        drive-strength = <10>;
    };

    i2c2_pe_custom: i2c2-pins {
        pins = "PE2", "PE3";
        function = "i2c2";
        drive-strength = <10>;
    };
};

&uart0 {
    status = "disabled";
};

&uart3 {
    pinctrl-0 = <&uart3_pb_pins>;
    pinctrl-names = "default";
    status = "okay";
};

&mmc0 {
	bus-width = <4>;
	cd-gpios = <&pio 5 6 (GPIO_ACTIVE_LOW)>;
	disable-wp;
	vmmc-supply = <&reg_vcc_3v3>;
	vqmmc-supply = <&reg_vcc_3v3>;
	pinctrl-0 = <&mmc0_pins>;
	pinctrl-names = "default";
	status = "okay";
};

&codec {
    allwinner,audio-routing = "Headphone", "HP"; 
    status = "okay";
};

&usb_otg {
	dr_mode = "otg";
	status = "okay";
};

&ehci0 {
	status = "okay";
};

&dmic {
	status = "disabled";
};

&ehci1 {
	status = "okay";
};


&ohci0 {
	status = "okay";
};

&ohci1 {
	status = "okay";
};

&ths {
	status = "okay";
/*	vref-supply = <&reg_aldo>; */
};

&usbphy {
	usb0_vbus-supply = <&reg_usbvbus>;
	usb1_vbus-supply = <&reg_usbvbus>;
	status = "okay";
};

&i2c1 {
    pinctrl-names = "default";
    pinctrl-0 = <&i2c1_pg_custom>;
    status = "okay";

    bq27220: battery@55 {
        compatible = "ti,bq27220";
        reg = <0x55>;
    };
};

&i2c2 {
    pinctrl-0 = <&i2c2_pe_custom>;
    pinctrl-names = "default";
    status = "okay";

    joystick@48 {
        compatible = "ti,ads1115";
        reg = <0x48>;
        #io-channel-cells = <1>;
    };
};

backlight: backlight {
    compatible = "pwm-backlight";
    pwms = <&pwm 7 50000 0>;
    brightness-levels = <0 4 8 16 32 64 128 255>;
    default-brightness-level = <6>;
    power-supply = <&reg_vcc_3v3>;
    status = "okay";
};

&pwm {
    pinctrl-0 = <&pwm7_pd22_custom>;
    pinctrl-names = "default";
    status = "okay";
};
